<% content_for :javascript do -%>
  <script type="text/javascript" charset="utf-8">
    
    function createCookie(name,value,days) {
      if (days) {
        var date = new Date();
        date.setTime(date.getTime()+(days*24*60*60*1000));
        var expires = "; expires="+date.toGMTString();
      }
      else var expires = "";
      document.cookie = name+"="+value+expires+"; path=/";
    }

    function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
    }
    console.log(unescape(readCookie("profile_pic")));

    jQuery(document).ready(function($) {
      $(".profile_pic").attr( "src", unescape(readCookie("profile_pic")) );
      createCookie("profile_pic","value",-1)
    });

    // createCookie("profile_pic","",-1);
    
    // var date = new Date();
    // date.setTime(date.getTime()+(-1*24*60*60*1000));
    // var expires = "; expires="+date.toGMTString();
    // document.cookie = "profile_pic= " + expires + "; path=/";

  </script>
<% end -%>

<% if !session[:profile_pic].nil? %>
<% flash.each do |key, value| %>
  <div class="alerten">
    <div class="alert-message <%= key %>" data-alert="alert"><%= value %><a href="#" class="close">x</a></div>
  </div>  
<% end %> 
<% content_for :body do %>
  <body id='embeded'>
<% end %>
<table class="embed<%= params[:layout] == "2" ? "-banner" : "" %>">
  <tr>
    <td id="profile-container" width="50" style="vertical-align: top;">
      <img class="profile_pic" src="<%= session[:profile_pic].nil? ? "/images/blankprofilepic.png" : session[:profile_pic] %>" width="50" height="50">
      <div class="left-bar">
        
        <%= link_to "Settings", "#{edit_user_registration_path}", :rel => "window800", :class => "auth_popup" %>
    		<%= params[:layout] != "2" ? (link_to "Logout", destroy_user_session_path, :method => :delete): "" %>
        
      </div>  
    </td>
    <td class="table-rightside">
      <p><%= session[:full_name] %> / <%= session[:title] %> @ <%= session[:company] %></p>
      <!-- <p>John Carter / President @ Planet Mars</p>                         -->
      
      <div class="optional-text">
      <%# render :text => params[:id].to_s %>
          <%= form_for("recording", :url => recordings_makecall_path, :html => { :class => "edit_user" } ) do |f| %>
            <%# was  @remoteurl.id instead of params[:id] %>
          	<%= f.hidden_field :remoteurl_id, :value => params[:id] %>
            <div class="text-area">
            	<%= f.text_area :synopsis, :class => "short-text", :placeholder => "write then record audio for your reference" %>
              <!-- insert submit button here if layout is 2 -->
              <%= params[:layout] == "2" ? (f.submit "Call Me!", :class => "vouch-button"): "" %>
              
            </div>
            <div class="expand-bottom">
              <%= link_to "How to leave the perfect review", "/example-review.html", :class => "link auth_popup" %>
              <!-- insert submit button here if layout != 2 -->
              <%= params[:layout] != "2" ? (f.submit "Call Me!", :class => "vouch-button"): "" %>
            </div>
        <% end -%>          
      </div>
  </tr>
</table>

<% else %>
<% content_for :body do %>
  <body id='embeded'>
<% end %>
<div class="social-login">
  <p>Login with Social Media</p>
  <ul>
    <li><%= link_to "", user_omniauth_authorize_path(:linked_in), :rel => "window800", :class => "auth_popup", :id => "linkedin" %></li> 
    <li><%= link_to "", user_omniauth_authorize_path(:facebook), :rel => "window800", :class => "auth_popup", :id => "facebook" %></li> 
    <li><%= link_to "", user_omniauth_authorize_path(:twitter), :rel => "window800", :class => "auth_popup", :id => "twitter" %></li> 
  </ul>
</div>
<table id="sucker" class="embed<%= params[:layout] == "2" ? "-banner" : "" %>">
  <tr>
    <td id="profile-container" width="50" style="vertical-align: top;">
      <img class="profile_pic" src="/images/blankprofilepic.png" width="50" height="50">
      <div class="left-bar">
      </div>  
    </td>
    <td class="table-rightside">
      <p>Login to leave your reference</p>
      <!-- <p>John Carter / President @ Planet Mars</p>                         -->
      
      <div class="optional-text">
          <% form_for("recording", :url => recordings_makecall_path, :html => { :class => "edit_user" } ) do |f| -%>
            <%= f.hidden_field :remoteurl_id, :value => params[:id]  %>
            <div class="text-area">
              <%= f.text_area :synopsis, :class => "short-text", :placeholder => "write & record your review" %>
              <!-- insert submit button here if layout is 2 -->
              <%= params[:layout] == "2" ? (f.submit "Call Now!", :class => "vouch-button"): "" %>
              
            </div>
            <div class="expand-bottom">
              <%= link_to "How to leave the perfect review", "/example-review.html", :class => "link auth_popup" %>
              <!-- insert submit button here if layout != 2 -->
              <%= params[:layout] != "2" ? (f.submit "Call Me!", :class => "vouch-button"): "" %>
            </div>
        <% end -%>          
      </div>
  </tr>
</table>
<script type="text/javascript" charset="utf-8">
// this allows iframe to manipulate parent DOM
	// $(".iavouch_lanyard_wrapper").hide('slow');
	// var title = parent.document.getElementById("iavouch_content_3");
// $('.grid_6', parent.document).hide('slow');
	// $(window.parent.document).find("#parentPrice").html();
	// parent.document.getElementById("iavouch_content_3").style.display = 'none';	
	// $(document).ready(function() { 
	// 		alert("Time to check if your loggedin or not, if so, change dom, if not don't");
	// 	});
	
</script>
<% end %>
<!-- <p>
  <b>Content:</b>
  <#%= @remoteurl.content %> | 
  <#%= link_to "Reviews", site_remoteurl_reviews_path(@remoteurl.site_id, @remoteurl.id) %>
</p>
<#%= link_to 'Edit', edit_site_remoteurl_path(@site) %> |
<#%= link_to 'Back', site_remoteurls_path %>  -->        


