<% (what = session[:omniauth] && session[:omniauth]['user_info']).nil? ? nil : '' %>      
<div id="name">
<h2>Sign up</h2> 
</div>

<div class="devise_form"> 
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  
  <%= f.label :full_name %>
  <%= f.text_field :full_name, :value => (what.nil? ? "" : what['name']) %>
  
  <%= f.label :email %> 
  <%= f.text_field :email, :value => (what.nil? ? "" : what['email']) %>            
  
  <%= f.label :company %>
  <%= f.text_field :company %>
                                  
  <%= f.label :title %>
  <%= f.text_field :title %>
   
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number, :value => (what.nil? ? "" : what['phone']) %>
  
  <%= image_tag (what.nil? ? "" : what['image']), :title => "title", :class => "class" %>  
<% if @user.password_required? %>
  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>
<% end %>
  
  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div> 

<div class="devise_errors">
  <%= devise_error_messages! %>   
</div>