<% if params[:v] == "1" %>
	<% if recording.call_completed? %>
	  <div class="comments-each">
	    <table class="review-container">
	      <tr>
	        <td width="64 !important">       <%# # TODO: delete this line and handle in DB  %>
	          <img class="profile_pic" src="<%= recording.user.profile_pic.nil? ? "/images/blankprofilepic.png" : recording.user.profile_pic %>" width="54 !important" height="54 !important"> 
	        </td>
	        <td class="table-rightside">
	          <p><%= recording.user.full_name %> / <%= recording.user.title %>  @ <%= recording.user.company %> </p>                        
	          <div class="review-each">
	           <audio src="<%= recording.audio_file + ".mp3" %>" preload="none"></audio>                
	           <div class="review-left">posted <%= time_ago_in_words(recording.created_at) %> ago.</div>
	           <div class="review-right">share / like / <b class="bold toggle">synopsis</b></div>
	           <div class="clear"></div>
	           <div class="trans">
	            <%= recording.synopsis.empty? ? recording.transcription : recording.synopsis %>
	           </div>
	          </div>
	      </tr>
	    </table>  
	  </div>

	<% end %>
<% elsif params[:v] == "2" %>
	<% if recording.call_completed? %>
		<div class="iavouch-comment-container" id='<%= recording.created_at.to_i %>'>
		    <table class="iavouch-comment-holder">
		      <tr>
		        <td class="iavouch-review-leftside" width="64">
		          <img class="profile-pic" src="<%= recording.user.profile_pic.nil? ? "/images/blankprofilepic.png" : recording.user.profile_pic %>" width="64" height="64" alt="Linkedin"> 
		        </td>
		        <td class="iavouch-review-rightside">
		          <p><%= recording.user.full_name %> / <%= recording.user.title %>  @ <%= recording.user.company %> </p>                        
		          <div class="iavouch-review-details">
		           <audio src="<%= recording.audio_file + ".mp3" %>" preload="auto"></audio>
		           <div class="iavouch-review-date">posted <%= time_ago_in_words(recording.created_at) %> days ago</div>
		           <div class="iavouch-review-sharing">share / like / reply </div>
		           <div class="clear"></div>
		          </div>
		      </tr>
		    </table>  
	  	</div>
	<% end %>
<% elsif %>
	<% if recording.call_completed? %>
		<div class="recording-divider">
			<div class="clear"></div> 
			<%= link_to approve_link_text(recording), toggle_approve_admin_site_path(recording.recordid), :remote => true, :id => "approve_link_#{recording.recordid}", :class => "approve-toggle-link" %> 
			<div class="clear"></div> 
		  <div class="comments-each">
		    <table class="review-container">
		      <tr>
		        <td width="64 !important">       <%# # TODO: delete this line and handle in DB  %>
		          <img class="profile_pic" src="<%= recording.profile_pic.nil? ? "/images/blankprofilepic.png" : recording.profile_pic %>" width="54 !important" height="54 !important"> 
		        </td>
		        <td class="table-rightside">
		          <p><%= recording.full_name %> / <%= recording.title %>  @ <%= recording.company %> </p>                        
		          <div class="review-each">
		           <audio src="<%= recording.audio_file + ".mp3" %>" preload="none"></audio>                
		           <div class="review-left">posted <%= time_ago_in_words(recording.created_at) %> ago. <%= recording.recordid %> </div>
		           <div class="review-right"><b class="bold toggle">site:<%= recording.site_permalink %> <%= recording.site_id %> link:<%= recording.permalink %> </b></div>
		           <div class="clear"></div>
		           <div class="trans">   
		           <%= recording.synopsis.empty? ? recording.transcription : recording.synopsis %>
		           </div>
		          </div>
		      </tr>
		    </table>  
		  </div>
		</div>
	<% end %>
	
<% end %>