<% if params[:v] == "1" %>
	<% if recording.call_completed? %>
	  <div class="comments-each">
	    <table class="review-container">
	      <tr>
	        <td width="64 !important">       <%# # TODO: delete this line and handle in DB  %>
	          <img class="profile_pic" src="<%= recording.user.profile_pic.nil? ? "/images/blankprofilepic.png" : recording.user.profile_pic %>" width="54 !important" height="54 !important"> 
	        </td>
	        <td class="table-rightside">
	          <p><%= recording.user.full_name %> / <%= recording.user.title %>  @ <%= recording.user.company %> </p>                        
	          <div class="review-each">
	           <audio src="<%= recording.audio_file + ".mp3" %>" preload="none"></audio>                
	           <div class="review-left">posted <%= time_ago_in_words(recording.created_at) %> ago.</div>
	           <div class="review-right">
	           <a href="http://twitter.com/?status=[<%=u "#{request.referrer}##{recording.created_at.to_i} URL encoded tweet text" %>]." class="auth_popup" rel="window100">
	           tweet</a> 
	           / 
	           <a href="http://www.facebook.com/sharer.php?u= <%=u "#{request.referrer}##{recording.created_at.to_i} hello" %>" class="auth_popup" rel="window100">
	           like</a> 
	           / 
	           <b class="bold toggle">synopsis</b></div>
	           
	           <div class="clear"></div>
	           <div class="trans">
	            <%= recording.synopsis.empty? ? simple_format(recording.transcription) : simple_format(recording.synopsis) %>
	           </div>
	          </div>
	      </tr>
	    </table>  
	  </div>

	<% end %>
<% elsif params[:v] == "2" %>
	<% if recording.call_completed? %>
		<div class="iavouch-comment-container" id='<%= recording.created_at.to_i %>'>
		    <table class="iavouch-comment-holder">
		      <tr>
		        <td class="iavouch-review-leftside" width="64">
		          <img class="profile-pic" src="<%= recording.user.profile_pic.nil? ? "/images/blankprofilepic.png" : recording.user.profile_pic %>" width="64" height="64" alt="Linkedin"> 
		        </td>
		        <td class="iavouch-review-rightside">
		          <p title="<%= recording.user.full_name %> / <%= recording.user.title %>  @ <%= recording.user.company %>"><%= recording.user.full_name %> / <%= recording.user.title %>  @ <%= recording.user.company %> </p>                        
		          <div class="iavouch-review-details">
		           <audio src="<%= recording.audio_file + ".mp3" %>" preload="auto"></audio>
		           <div class="iavouch-review-date">posted <%= time_ago_in_words(recording.created_at) %> ago.</div>
		           <div class="iavouch-review-sharing">
 		           <a href="http://twitter.com/?status=<%=u "#{request.referrer}##{recording.created_at.to_i} listen to my review #referenceletterssuck" %>" class="auth_popup" target="_blank">
		           tweet</a> 
		           / 
		           <a href="http://www.facebook.com/sharer.php?u= <%=u "#{request.referrer}##{recording.created_at.to_i}" %>" class="auth_popup" target="_blank">
		           	like</a> /
		           <!-- / read  -->
		           <a href="#" class="iavouch-review-read" rel="popover" data-content="<%= recording.synopsis.empty? ? simple_format(recording.transcription) : simple_format(recording.synopsis) %>" data-original-title="Transcript/Synopsis">read</a>
		           </div>
		           <div class="clear"></div>
		          </div>
		      </tr>
		    </table>  
	  	</div>
	<% end %>
<% elsif %>
	<% if recording.call_completed? %>
	  <div class="comments-each">
	    <table class="review-container">
	      <tr>
	        <td width="64 !important">       <%# # TODO: delete this line and handle in DB  %>
	          <img class="profile_pic" src="<%= recording.user.profile_pic.nil? ? "/images/blankprofilepic.png" : recording.user.profile_pic %>" width="54 !important" height="54 !important"> 
	        </td>
	        <td class="table-rightside">
	          <p><%= recording.user.full_name %> / <%= recording.user.title %>  @ <%= recording.user.company %> </p>                        
	          <div class="review-each">
	           <audio src="<%= recording.audio_file + ".mp3" %>" preload="none"></audio>                
	           <div class="review-left">posted <%= time_ago_in_words(recording.created_at) %> ago.</div>
	           <div class="review-right">
	           <a href="http://twitter.com/?status=[<%=u "#{request.referrer}##{recording.created_at.to_i} URL encoded tweet text" %>]." class="auth_popup" rel="window100">
	           tweet</a> 
	           / 
	           <a href="http://www.facebook.com/sharer.php?u= <%=u "#{request.referrer}##{recording.created_at.to_i} hello" %>" class="auth_popup" rel="window100">
	           like</a> 
	           / 
	           <b class="bold toggle">synopsis</b></div>
	           
	           <div class="clear"></div>
	           <div class="trans">
	            <%= recording.synopsis.empty? ?  simple_format(recording.transcription) :  simple_format(recording.synopsis) %>
	           </div>
	          </div>
	      </tr>
	    </table>  
	  </div>

	<% end %>
	
<% end %>