// remoteurl_id = request.referrer.url if remoteurl_id not defined
// site_id = request.referrer.domain_url if site_id not defined

if (site_id == undefined) {
 var site_id = "<%= @domainref %>";
}
if (remoteurl_id == undefined) {
 var remoteurl_id = "<%= @remoteurl.id %>";
} 

<% if !params[:v].nil? %>
	<% if params[:v] == "1" %>	// same as version on embed code
		// makes embed content visible 
		
		vouch_content.style.width = widget_width;   
		vouch_content.style.visibility = 'visible';
	
		// create iframe for adding new review
		var ifrm = document.createElement("IFRAME");
		ifrm.setAttribute('src', "<%= sites_url %>/" + site_id + '/remoteurls/'+ remoteurl_id + '?layout=' + version);
		// ifrm.setAttribute('src', "about:blank");
		ifrm.style.width = 100+"%";   
		ifrm.style.width = widget_width + "px";   
		ifrm.style.height = "150px";
		ifrm.style.border ="0";  
		ifrm.id = "coolframe"

		// vouch.content is div id=iavouch
		// Puts ADD NEW REVIEW IFRAME ON TOP OF OR BELOW REVIEWS
		vouch_content.insertBefore(ifrm, null);  // Actually this just injects IFRM into DOM

// var content = "text";
	// var doc = ifrm.document;
 //    if(ifrm.contentDocument)
 //        doc = ifrm.contentDocument; // For NS6
 //    else if(ifrm.contentWindow)
 //        doc = ifrm.contentWindow.document; // For IE5.5 and IE6
 //    // Put the content in the iframe
 //    doc.open();
 //    doc.writeln(content);
 //    doc.close();

		// creates var sw_3 or sw_2 and fills it with content from lanyard/lanyards, also escapse javascript
		var leaveheader = document.createElement("div");
			leaveheader.className = "poweredby";
			leaveheader.innerHTML = "<a href='http://iavouch.com' target='_blank'>Powered by iAvouch</a>";
		vouch_content.insertBefore(leaveheader, ifrm);


		var lanyard = document.createElement("div");
		lanyard.style.visibility = 'hidden';
		lanyard.innerHTML =	"<%= escape_javascript(render :partial => "lanyards/full_lanyard", :locals => {:v => params[:v]}) %>"; 
		if (typeof add_review_bottom === 'undefined') {
				vouch_content.insertBefore(lanyard, null);  
			}
		else
			{
				vouch_content.insertBefore(lanyard, ifrm); 		
			}       

	jQuery(document).ready(function($) {
					
					$.fn.reverseChildren = function() {
					  return this.each(function(){
					    var $this = $(this);
					    $this.children().each(function(){
					      $this.prepend(this);
					    });
					  });
					};
					$('.toggle-synopsis').click(function() {
						$('.comments').reverseChildren();
						$(this).text($(this).text() == 'newest first' ? 'oldest first' : 'newest first');
					});


					$.getScript("<%= root_url %>" + 'audiojs/audio.js', function() 
					{
					  var as = audiojs.createAll();
					  $('.audiojs').width(widget_width - 78);  
			      $('.audiojs .loaded').width(widget_width - 232); 
			      $('.audiojs .scrubber').width(widget_width - 232);
					});   
					
					
					$.getScript("<%= root_url %>" + 'javascripts/jquery.popupwindow.js', function() 
					{
						var profiles = {window100:{center:1,status:1}};
						$(function(){$(".auth_popup").popupwindow(profiles);});
						// function unloadcallback(){
						// 	alert("Time to check if your loggedin or not, if so, change dom, if not don't");
						// 	};
					});

					//  toggle synopsis
					// $('.toggle-synopsis').click(function() {
					// 	$('.bold').removeClass('toggle');
					// 	$('.trans').hide('fast'); 
					// 	$(this).toggleClass('toggle-synopsis').toggleClass('toggle-synopsis-off');
					// 	return false;
					// });
					      
					$('.bold').click(function() {
						$('.review-each div:hover .bold').toggleClass('toggle');
						$('.comments-each div:hover .trans').slideToggle('fast');  
						return false;
					});                  
					
		// TODO: make resizing work
					$(vouch_content).width(widget_width);
					$('.comments').width(widget_width);
					$('.comments .comments-header').width(widget_width);
					$('.comments .review-each').width(widget_width - 78);

		// TODO: UNCOMENT FOR PRODUCTION RELOCATE MAKE ENTIRE DOCUMENT VISIBLE
					lanyard.style.visibility = 'visible';					


		});
			
		// // this creates rules for include(file-name) 
		// function include(file)
		// {
		// // this creates var script element + <script> tage
		//     var script  = document.createElement('script');
		// // this sets src as file listed by include file
		//     script.src  = file;
		//     script.type = 'text/javascript';
		// // below line defers running code .script until javascript is ready    
		// 	script.defer = true;
		// // this line runs everything contained within afer script.onload 
		//     script.onload = function(){$(document).ready(function() { 
		//       // gets window popup plugin 1. sets window settings, 2. links class name, 3. setunload callback

					
					// $.get(http://stormy-winter-617.heroku.com/ + site_id + '/remoteurls/'+ remoteurl_id +'/reviews?' + layout_type, function(data) {
					// $('#sw_content_3').html(data);
					// // alert('Load was performed.' + data);
					// });         



					
		//     })}
		//     document.getElementsByTagName('head').item(0).appendChild(script);

		// }
		// //add jQuery
		// include('http://code.jquery.com/jquery-1.5.min.js');
		  // ifrm.src = ifrm.src;
	<% elsif params[:v] == "2" %>

	vouch_content.style.width = widget_width;   
	
	var lanyard = "<%= escape_javascript(render :partial => "lanyards/full_lanyard", :locals => {:v => params[:v]}) %>"; 
	vouch_content.innerHTML=lanyard;    
			
	var ifrm = document.createElement("IFRAME");
	ifrm.setAttribute('src', "<%= sites_url %>/" + site_id + '/remoteurls/'+ remoteurl_id + '?layout=' + version);
	ifrm.style.width = 100+"%";   
	ifrm.style.width = widget_width + "px";   
	ifrm.style.height = "73px";
	ifrm.style.border ="0";
	ifrm.style.overflow ="none";    
	ifrm.id = "coolframe"

	document.getElementById("leavereview").appendChild(ifrm); 		
	
	var mydiv = document.getElementById('iavouch-container');
	mydiv.style.width = widget_width + "px";
		
	jQuery(document).ready(function($) {
		
		// makes scroll navigation show & hide correctly
		var timeOut;
		$('#iavouch-container').hover(
		    function() { //when mouse hovers in
		        clearTimeout(timeOut);
		        $('.iavouch-scroll-navigation').show(0.1);
		        $('.avouchlogo').show(0.1);
		    	// $('.audiojs').css({'-webkit-box-shadow' : '1px 1px 8px rgba(0, 0, 0, 0.3)', '-moz-box-shadow' : '1px 1px 8px rgba(0, 0, 0, 0.3)',
			// '-o-box-shadow' : '1px 1px 8px rgba(0, 0, 0, 0.3)', 'box-shadow' : '1px 1px 8px rgba(0, 0, 0, 0.3)' })
		        //maybe some code here to hide other tooltips if not needed
		    },
		    function() { //when mouse hovers out
		        timeOut = setTimeout(hideToolTip, 1);
		    }
		);

		function hideToolTip() {
		    $('.iavouch-scroll-navigation').hide(10);
		    $('.avouchlogo').hide(10);
		};
		
		// call audiojs
		$.getScript("<%= root_url %>" + 'audiojs/audio.slider.js', function() 
		{
			var as = audiojs.createAll();  
			var mydiv = $("#iavouch-container"); 
			var curr_width = mydiv.width(); // removes the "px" at the end
			mydiv.children().find('.audiojs').width(curr_width - 82);  
			mydiv.children().find('.audiojs .loaded').width(curr_width - 232);  
			mydiv.children().find('.audiojs .scrubber').width(curr_width - 232);
			mydiv.children().find('.iavouch-scroll-container').width(curr_width); 
			mydiv.children().find('.iavouch-scroll-container div.iavouch-comment-container').width(curr_width + 18); 
			mydiv.children().find('.iavouch-review-rightside p').width(curr_width - 80);
			mydiv.children().find('.short-text').width(curr_width - 167); 
			mydiv.children().find('.iavouch-review-details').width(curr_width - 82); 
			mydiv.children().find('.optional-text').width(curr_width - 62);
			mydiv.children().find('#navtoreview').css('padding-left', curr_width - 105);
		});   
		
		// not sure if this is needed for slider, probably not 
		// $.getScript("<%= root_url %>" + 'javascripts/jquery.popupwindow.js', function() 
		// {
		// 	var profiles = {window100:{center:1,status:1}};
		// 	$(function(){$(".auth_popup").popupwindow(profiles);});
		// 	// function unloadcallback(){
		// 	// 	alert("Time to check if your loggedin or not, if so, change dom, if not don't");
		// 	// 	};
		// });
		$.getScript("<%= root_url %>" + 'javascripts/bootstrap-tooltip.js', function() 
		{
			$.getScript("<%= root_url %>" + 'javascripts/bootstrap-popover.js', function() 
			{
				var isVisible = false;
				var clickedAway = false;

				$('.iavouch-review-read').each(function() {
				    $(this).popover({
				        html: true,
				        trigger: 'manual',
				        placement: 'bottom'
				    }).click(function(e) {
				        if(isVisible & clickedAway)
				        {
				        $(this).popover('hide');
				        $(this).toggleClass('bold')
				        isVisible = clickedAway = false;
				        return false;
				        }
				        else
				        {
				        $(this).popover('show');
				        $(this).toggleClass('bold')
				        isVisible = true;
				        clickedAway = true;
				        return false;
				        }
				        //e.preventDefault();
				    });
				});

				$(document).click(function(e) {
				  if(isVisible & clickedAway)
				  {
				     $('.iavouch-review-read').each(function() {
				          $(this).popover('hide');
				          $(this).removeClass('bold')
				     });
				    isVisible = clickedAway = false;
				  }
				  else
				  {
				    clickedAway = true;
				  }
				});
			});
		});

		//  call scripts for slider
		$.getScript("<%= root_url %>" + 'javascripts/jquery.scrollTo-min.js', function() 
		{
			$.getScript("<%= root_url %>" + 'javascripts/jquery.localscroll-min.js', function() 
			{
				$.getScript("<%= root_url %>" + 'javascripts/jquery.serialScroll-min.js', function() 
				{
					// when the DOM is ready...
					$(document).ready(function () {

						var $panels = $('#iavouch-container .iavouch-scroll-scroller .iavouch-comment-container');
						var $container = $('#iavouch-container .iavouch-scroll-scroller');

						// if false, we'll float all the panels left and fix the width 
						// of the container
						var horizontal = true;

						// float the panels left if we're going horizontal

						// collect the scroll object, at the same time apply the hidden overflow
						// to remove the default scrollbars that will appear
						var $scroll = $('#iavouch-container .iavouch-scroll-container').css('overflow', 'hidden');

						// apply our left + right buttons


						// handle nav selection
						function selectNav() {
						  $(this)
						    .parents('ul:first')
						      .find('a')
						        .removeClass('selected')
						      .end()
						    .end()
						    .addClass('selected');
						}

						$('#iavouch-container .iavouch-navigation-list').find('a').click(selectNav);

						// go find the navigation link that has this target and select the nav
						function trigger(data) {
						  var el = $('#iavouch-container .iavouch-navigation-list').find('a[href$="' + data.id + '"]').get(0);
						  selectNav.call(el);
						}

						if (window.location.hash) {
						  trigger({ id : window.location.hash.substr(1) });
						} else {
						  $('ul.iavouch-navigation-list a:first').click();
						}

						// offset is used to move to *exactly* the right place, since I'm using
						// padding on my example, I need to subtract the amount of padding to
						// the offset.  Try removing this to get a good idea of the effect
						var offset = parseInt((horizontal ? 
						  $container.css('paddingTop') : 
						  $container.css('paddingLeft')) 
						  || 0) * -1;


						var scrollOptions = {
						  target: $scroll, // the element that has the overflow
						  
						  // can be a selector which will be relative to the target
						  items: $panels,
						  
						  navigation: '.iavouch-navigation-list a',
						  
						  // selectors are NOT relative to document, i.e. make sure they're unique
						  prev: 'a.iavouch-nav-prev', 
						  next: 'a.iavouch-nav-next',
						  
						  // allow the scroll effect to run both directions
						  axis: 'xy',
						  
						  onAfter: trigger, // our final callback
						  
						  offset: offset,
						  
						  // duration of the sliding effect
						  duration: 500,
						  
						  // easing - can be used with the easing plugin: 
						  // http://gsgd.co.uk/sandbox/jquery/easing/
						  easing: 'swing'
						};

						// apply serialScroll to the slider - we chose this plugin because it 
						// supports// the indexed next and previous scroll along with hooking 
						// in to our navigation.
						$('#iavouch-container').serialScroll(scrollOptions);

						// now apply localScroll to hook any other arbitrary links to trigger 
						// the effect
						$.localScroll(scrollOptions);

						// finally, if the URL has a hash, move the slider in to position, 
						// setting the duration to 1 because I don't want it to scroll in the
						// very first page load.  We don't always need this, but it ensures
						// the positioning is absolutely spot on when the pages loads.
						scrollOptions.duration = 1;
						$.localScroll.hash(scrollOptions);

					});
				});
			});
		});
		vouch_content.style.visibility = 'visible';
	});

	<% end %>
<% end %>