<% session.delete(:return_to) %>  
<!DOCTYPE html>
<html>
<head>
  <title>Avouch</title>
  <%= stylesheet_link_tag "screen" %>
  <%= stylesheet_link_tag "embeds/blog-embed" %>
    
   
  <%= javascript_include_tag :defaults, 'jquery.popupwindow', '/audiojs/audio.js'%>


  
  
  <%= csrf_meta_tag %>
</head>
<%= content_for?(:body) ? yield(:body) : raw("<body>") %>
  <div class="top-spacer">  
    <% flash.each do |key, value| %>
      <div class="alert-message <%= key %>" data-alert="alert"><%= value %></div>
    <% end %> 
    <div>
      <p style="float:right;color:white;">
        <% if user_signed_in? %>
          <%= link_to "Access your Dashboard", admin_sites_path, :style => "color:white;" %>
        <% end %>
      </p>
    </div>
  </div>

  <!-- main container -->
  <div class="columns"> 
    <div class="bg">
      <!-- header -->
      <div class="showborder" id="header">
        <p class="showborder" id="logo">iAvouch</p> 
        <p class="showborder" id="logo-tagline">references redefined</p>
      </div>
      
      <!-- content -->
      <div class="showborder" id="main-content">
        
        <%= yield %>

      </div>  

    </div>
  </div>
  <div class="clear"></div>
<!--   <div class="footer-bottom">
    <div>
      <div id="footer">
           hello
      </div>
    </div>
  </div>  -->

</body>
</html>


