<% session.delete(:return_to) %>  
<!DOCTYPE html>
<html>
<head>
  <title>iAvouch</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "embeds/blog-embed" %>
    
   
  <%= javascript_include_tag :defaults, 'jquery.popupwindow', '/audiojs/audio.js'%>


  
  
  <%= csrf_meta_tag %>
</head>
<body>
  <% if user_signed_in? %>
    <%= current_user.email %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>


