<!DOCTYPE html>
<html>
<head>
  <title>Avouch</title>
  <%= stylesheet_link_tag :all %>

   
  <%= javascript_include_tag :defaults, 'jquery.popupwindow', 'bootstrap-alerts' %>
  
  <%= content_for :javascript %>
  	
  
  <%= csrf_meta_tag %>
</head>
<%= content_for?(:body) ? yield(:body) : raw("<body>") %>

  <p class="notice" style="display:none;"><%= notice %></p>
  <p class="alert" style="display:none;"><%= alert %></p>

<%= yield %>

</body>
</html>


