 <%= form_for([:admin, @site]) do |f| %>


  <%= f.label :name, raw("Site URL<span class=\"small\">Url of site</span>") %>
  <%= f.text_field :name %>
  <% if @site.errors[:name].present? %>
    <div class="error">
      <% @site.errors[:name].each do |msg| %>    
        <%= msg %><br />
      <% end %>
    </div>
  <% end %> 

  
    <%= f.submit "Create", :class => "btn primary" %>
  

<% end %>
